@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-wrapper {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: #000;
  user-select: none;
}

#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#theme-toggle:not(:checked) + label {
  background-color: gold;
}

#theme-toggle:checked + label {
  background-color: transparent;
  box-shadow: inset -8px -6px 1px 1px #fff;
}
